<%
  card_type = (local_assigns[:type] || 'content').to_s
  card_id = local_assigns[:id]
  card_title = local_assigns[:title]
  card_label = local_assigns[:label] || card_type.upcase
  preview_url = local_assigns[:preview_url]
  onclick = local_assigns[:onclick]
  card_width = local_assigns[:width] || '200px'
%>

<button
  type="button"
  class="M_ContentCard"
  <%= "id=\"#{card_id}\"".html_safe if card_id %>
  data-type="<%= card_type %>"
  <%= "data-preview-url=\"#{preview_url}\"".html_safe if preview_url %>
  <%= "onclick=\"#{onclick}\"".html_safe if onclick %>
  style="width: <%= card_width %>;"
>
  <span class="M_ContentCard-Label text-labels-2"><%= card_label %></span>
  <span class="M_ContentCard-Handle" aria-hidden="true">
    <%= render 'shared/quarks/Q_Icon', name: 'Q_DragIcon' %>
  </span>
</button>

