<%
  card_type = (local_assigns[:type] || 'content').to_s
  card_id = local_assigns[:id]
  card_title = local_assigns[:title]
  card_description = local_assigns[:description]
  card_label = local_assigns[:label] || card_type.upcase
  preview_url = local_assigns[:preview_url]
  onclick = local_assigns[:onclick]
  
  icon_name = case card_type
              when 'image', 'gif', 'video'
                'Q_EyeIcon'
              when 'article'
                'Q_ArticleIcon'
              when 'audio'
                'Q_AudioIcon'
              when 'link'
                'Q_LinkIcon'
              else
                nil
              end
%>

<button
  type="button"
  class="M_ContentCard"
  <%= "id=\"#{card_id}\"".html_safe if card_id %>
  data-type="<%= card_type %>"
  <%= "data-preview-url=\"#{preview_url}\"".html_safe if preview_url %>
  <%= "onclick=\"#{onclick}\"".html_safe if onclick %>
>
  <div class="M_ContentCard-Header">
    <span class="M_ContentCard-Label text-labels-2"><%= card_label %></span>
    <% if icon_name %>
      <%= render 'shared/quarks/Q_Icon', name: icon_name %>
    <% end %>
  </div>
  <div class="M_ContentCard-Body">
    <% if card_title %>
      <span class="M_ContentCard-Title text-p-1"><%= card_title %></span>
    <% end %>
    <% if card_description %>
      <span class="M_ContentCard-Description text-p-3"><%= card_description %></span>
    <% end %>
  </div>
</button>

