<h1><%= t('auth.forgot.title') %></h1>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with url: forgot_path, method: :post do |f| %>
  <%= label_tag :email, t('auth.shared.email') %>
  <%= email_field_tag :email, nil, required: true %>
  <%= submit_tag t('auth.forgot.submit') %>
<% end %>

<%= link_to t('auth.shared.back_to_login'), login_path %>


