<div class="PageAuth-Form-Wrapper">
  <% if flash[:alert] %>
    <%= render 'shared/molecules/M_ToastNotification', text: flash[:alert], type: 'error' %>
  <% end %>
  <div class="PageAuth-Form-Title">
    <h3><%= t('auth.forgot.title') %></h3>
    <p class="text-p-2"><%= t('auth.forgot.description') %></p>
  </div>
  <%= form_with url: forgot_path, method: :post, html: { autocomplete: 'off', class: 'PageAuth-Form' } do |f| %>
    <div class="PageAuth-Form-Fields">
      <%= render 'shared/atoms/A_Input', name: 'email', type: 'email', required: true, autocomplete: 'off', autocapitalize: 'none', spellcheck: false, data_form_type: 'other', placeholder: t('auth.forgot.email_placeholder'), max_width: '358px' %>
    </div>
    <%= render 'shared/atoms/A_Button', type: 'submit', label: t('auth.forgot.submit') %>
  <% end %>
  <p><%= link_to t('auth.shared.back_to_login'), login_path %></p>
</div>


