<h1>Забыли пароль?</h1>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with url: forgot_path, method: :post do |f| %>
  <%= label_tag :email, 'Email' %>
  <%= email_field_tag :email, nil, required: true %>
  <%= submit_tag 'Отправить письмо' %>
<% end %>

<a href="/auth/login">Вернуться назад</a>


