<h1>Вход / Регистрация</h1>
<%= form_with url: login_path, method: :post do |f| %>
  <%= label_tag :email, 'Email' %>
  <%= email_field_tag :email, nil, required: true %>
  <%= label_tag :password, 'Пароль' %>
  <%= password_field_tag :password, nil, required: true %>
  <%= submit_tag 'Продолжить' %>
<% end %>
<p><a href="/auth/forgot">Забыли пароль?</a></p>
<script></script>


