<h1>Сброс пароля</h1>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= form_with url: reset_path, method: :post do |f| %>
  <%= hidden_field_tag :token, @token %>
  <%= label_tag :password, 'Новый пароль' %>
  <%= password_field_tag :password, nil, required: true, maxlength: 64 %>
  <%= label_tag :password_confirmation, 'Подтверждение пароля' %>
  <%= password_field_tag :password_confirmation, nil, required: true, maxlength: 64 %>
  <%= submit_tag 'Продолжить' %>
<% end %>


