<div class="PageAuth-Form-Wrapper">
  <div class="PageAuth-Form-Title">
    <h3><%= t('auth.reset.title') %></h3>
    <p class="text-p-2"><%= t('auth.reset.description') %></p>
  </div>
  <%= form_with url: reset_path, method: :post, html: { autocomplete: 'off', class: 'PageAuth-Form', id: 'reset-form' } do |f| %>
    <%= hidden_field_tag :token, @token %>
    <div class="PageAuth-Form-Fields">
      <%= render 'shared/wrappers/W_InputPassword', name: 'password', required: true, autocomplete: 'new-password', placeholder: t('auth.reset.password_placeholder'), max_width: '358px' %>
      <%= render 'shared/wrappers/W_InputPassword', name: 'password_confirmation', required: true, autocomplete: 'new-password', placeholder: t('auth.reset.password_confirmation_placeholder'), max_width: '358px' %>
    </div>
    <%= render 'shared/atoms/A_Button', type: 'submit', label: t('auth.reset.submit') %>
  <% end %>
</div>


