<h1><%= t('auth.reset.title') %></h1>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= form_with url: reset_path, method: :post do |f| %>
  <%= hidden_field_tag :token, @token %>
  <%= label_tag :password, t('auth.reset.password_label') %>
  <%= password_field_tag :password, nil, required: true, maxlength: 64 %>
  <%= label_tag :password_confirmation, t('auth.reset.password_confirmation_label') %>
  <%= password_field_tag :password_confirmation, nil, required: true, maxlength: 64 %>
  <%= submit_tag t('auth.reset.submit') %>
<% end %>


