<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= form_with url: verify_path, method: :post, html: { id: 'verify-form' } do |f| %>
  <%= hidden_field_tag :email, params[:email].presence || session[:pending_email] %>
  <%= hidden_field_tag :code, nil, id: 'code' %>
  <%= label_tag :code_inputs, t('auth.verify.code_label') %>
  <%= render 'shared/C_NumericInputs', id: 'otp', length: 6 %>
<% end %>

 <%= form_with url: resend_path(email: (params[:email].presence || session[:pending_email])), method: :post do %>
   <%= submit_tag((@resend_wait_left.to_i > 0 ? t('auth.verify.resend_countdown', seconds: @resend_wait_left.to_i) : t('auth.verify.resend')),
     id: 'resend',
     disabled: @resend_wait_left.to_i > 0,
     data: {
       left: @resend_wait_left.to_i,
       label: t('auth.verify.resend'),
       countdown_template: t('auth.verify.resend_countdown', seconds: '%{seconds}')
     }
   ) %>
 <% end %>
 
 <%= javascript_include_tag 'auth/verify' %>

<%= link_to t('auth.verify.back_link'), login_path %>
