<%= form_with model: [:admin, @week, @article] do |f| %>
  <div>
    <%= f.label :title, 'Заголовок' %><br/>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, 'Текст' %><br/>
    <%= render 'shared/atoms/A_TextArea', name: "#{f.object_name}[body]", value: @article.body, rows: 10 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>


