<h1>Статьи недели <%= @week.number %></h1>

<p><%= link_to 'Новая статья', new_admin_week_article_path(@week) %></p>

<% if @pagy.count > 0 %>
  <p><%= @pagy.from %>-<%= @pagy.to %> из <%= @pagy.count %></p>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, admin_week_article_path(@week, article) %>
      — <%= link_to 'Редактировать', edit_admin_week_article_path(@week, article) %>
    </li>
  <% end %>
</ul>

<%= pagy_nav(@pagy) if @pagy.pages > 1 %>

<%= link_to 'Назад к неделе', admin_week_path(@week) %>

