<%= link_to day_article_path(day, article), class: 'O_ArticleCard' do %>
  <%= render 'shared/M_ContentCard', type: 'article', label: 'ARTICLE', width: '100%' %>
  <div class="O_ArticleCard-Title">
    <h4><%= article.title %></h4>
    <p><%= article.description.presence || truncate(article.body, length: 120) %></p>
  </div>
  <div class="O_ArticleCard-Footer">
    <p class="text-p-3">| CASE_<%= day.number %></p>
    <p class="text-p-3">| статья_<%= article.id %> мин чтения</p>
    <p class="text-p-3">| time_left: <span data-countdown data-expires-at="<%= day.expires_at.iso8601 %>" class="timer-value"><%= day.time_left %></span></p>
    <p class="text-p-3">| [> прочитать кейс]</p>
  </div>
<% end %>