<div class="PageHome">
  <%= render 'shared/W_PageHeader' do %>
    <div class="W_PageHeader-Console">
        <div class="W_PageHeader-Console-Line text-p-2">>_ init system - media Inspectra</div>
        <div class="W_PageHeader-Console-Line text-p-2">>_ media_web</div>
        <div class="W_PageHeader-Console-Line text-p-2">>_ global_timer</div>
        <div class="W_PageHeader-Console-Line text-p-2">[system] content expires in: <span data-countdown data-expires-at="<%= @current_day&.expires_at&.iso8601 %>"><%= @current_day ? @current_day.time_left : '00:00:00' %></span></div>
    </div>
  <% end %>
  <div class="PageHome-Days-List">
    <% if @current_day %>
      <%= render 'shared/W_CardDayCurrent', day: @current_day %>
    <% end %>
    
    <% if @expired_days.any? %>
      <%= render 'shared/W_CardsDay404', cards: @expired_days %>
    <% end %>
  </div>
</div>
