<div class="PageDay">
  <%= render 'shared/W_PageHeader' do %>
    <div class="W_PageHeader-Timer">
      <h3 data-countdown data-expires-at="<%= @day&.expires_at&.iso8601 %>" class="timer-value"><%= @day ? @day.time_left : '00:00:00' %></h3>
    </div>
    <div class="W_PageHeader-Console">
      <div class="W_PageHeader-Console-Line text-p-2">>_ init system - media Inspectra</div>
      <div class="W_PageHeader-Console-Line text-p-2">>_ media_web</div>
      <div class="W_PageHeader-Console-Line text-p-2">>_ global_timer</div>
      <div class="W_PageHeader-Console-Line text-p-2">[system] content expires in: <span data-countdown data-expires-at="<%= @day&.expires_at&.iso8601 %>" class="timer-value"><%= @day ? @day.time_left : '00:00:00' %></span></div>
    </div>
  <% end %>
  <%
    articles_with_positions = @day.articles.map { |article| { item: article, position: rand(0..@content_items.length), type: 'article' } }
    content_with_positions = @content_items.map { |item| { item: item, position: item.position, type: 'content' } }
    all_items = (articles_with_positions + content_with_positions).sort_by { |x| x[:position] }
  %>
  
  <div class="mixed-content" data-filter-group="content-filters">
    <% all_items.each do |item_data| %>
      <div class="content-item" data-content-type="<%= item_data[:type] == 'article' ? 'article' : item_data[:item].kind %>">
        <% if item_data[:type] == 'article' %>
          <h3><%= item_data[:item].title %></h3>
          <p><%= link_to "#{t('shared.day_card.article_prefix')} #{item_data[:item].title}", day_article_path(@day, item_data[:item]) %></p>
        <% else %>
          <%= render 'shared/M_ContentCard',
                type: item_data[:item].kind,
                label: item_data[:item].kind&.upcase,
                id: "content_card_#{item_data[:item].id}",
                preview_url: item_data[:item].respond_to?(:url) ? item_data[:item].url : nil %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
