<h1><%= @day.title %></h1>
<ul>
  <% @content_items.each do |item| %>
    <% if item.kind == 'article' && item.article %>
      <li><a href="/days/<%= @day.id %>/articles/<%= item.article.id %>">ARTICLE: <%= item.article.title %></a></li>
    <% else %>
      <li><%= item.kind.upcase %></li>
    <% end %>
  <% end %>
</ul>
<a href="/">На главную</a>
