<h1><%= @day.title %></h1>

<% 
  articles_with_positions = @day.articles.map { |article| { item: article, position: rand(0..@content_items.length), type: 'article' } }
  content_with_positions = @content_items.map { |item| { item: item, position: item.position, type: 'content' } }
  all_items = (articles_with_positions + content_with_positions).sort_by { |x| x[:position] }
%>

<div class="mixed-content">
  <% all_items.each do |item_data| %>
    <div class="content-item">
      <% if item_data[:type] == 'article' %>
        <h3><%= item_data[:item].title %></h3>
        <p><%= link_to "#{t('shared.day_card.article_prefix')} #{item_data[:item].title}", day_article_path(@day, item_data[:item]) %></p>
      <% else %>
        <h3><%= item_data[:item].title %></h3>
        <%= render_content_item(item_data[:item]) %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to t('days.show.back_to_home'), root_path %>
