<%
  state_key = local_assigns[:state_key]
  panel_id = local_assigns[:id]
  icon_name = local_assigns[:icon_name]
  body_partial = local_assigns[:body_partial]
  data_attrs = (local_assigns[:data] || {}).merge(js_control_panel: '', js_control_panel_state_key: state_key)
  has_block = block_given?
  extra_class = local_assigns[:class]
  classes = ['W_ControlPanel']
  classes << extra_class if extra_class.present?
%>
<div class="<%= classes.join(' ') %>" <%= "id=\"#{panel_id}\"".html_safe if panel_id.present? %> aria-hidden="true" style="display: none;" <%= tag.attributes(data: data_attrs) %>>
  <div class="W_ControlPanel-Header" data-js-control-panel-drag>
    <% if icon_name.present? %>
      <%= render 'shared/quarks/Q_Icon', name: icon_name, width: 18, height: 18 %>
    <% end %>
    <div class="W_ControlPanel-Header-Controls">
      <%= render 'shared/atoms/A_ControlButton',
        icon_name: 'Q_FullScreenIcon',
        aria_label: 'На весь экран',
        class: 'W_ControlPanel-Header-Button W_ControlPanel-Header-Button--maximize',
        data: {
          js_console_maximize: '',
          icon_url: asset_path('Q_FullScreenIcon.svg'),
          icon_alt_url: asset_path('Q_NotFullScreenIcon.svg')
        } %>
      <%= render 'shared/atoms/A_ControlButton',
        icon_name: 'Q_CloseIcon',
        aria_label: 'Закрыть',
        class: 'W_ControlPanel-Header-Button W_ControlPanel-Header-Button--close',
        data: { js_console_close: '' } %>
    </div>
  </div>
  <div class="W_ControlPanel-Body">
    <% if has_block %>
      <%= yield %>
    <% elsif body_partial.present? %>
      <%= render body_partial %>
    <% end %>
  </div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--left" data-js-console-resize-left aria-label="Изменить ширину"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--right" data-js-console-resize-right aria-label="Изменить ширину"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--top" data-js-console-resize-top aria-label="Изменить высоту"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--bottom" data-js-console-resize-bottom aria-label="Изменить высоту"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--corner-nw" data-js-console-resize-nw aria-label="Изменить размер"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--corner-ne" data-js-console-resize-ne aria-label="Изменить размер"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--corner-sw" data-js-console-resize-sw aria-label="Изменить размер"></div>
  <div class="W_ControlPanel-Resize W_ControlPanel-Resize--corner-se" data-js-console-resize-se aria-label="Изменить размер"></div>
</div>
