<div class="W_Loader" style="display: none;">
  <div class="W_Loader-Animation">
    <div class="W_Loader-Animation-Item">
      <%= render 'shared/quarks/Q_Square' %>
      <%= render 'shared/quarks/Q_Square' %>
    </div>
    <div class="W_Loader-Logo">
      <%= render 'shared/atoms/A_Logo', name: 'A_Logo', size: 'Large' %>
    </div>
    <div class="W_Loader-Animation-Item">
      <%= render 'shared/quarks/Q_Square' %>
      <%= render 'shared/quarks/Q_Square' %>
    </div>
  </div>
</div>
