<% if flash.now[:alert] %>
  <%= render 'shared/molecules/M_ToastNotification', text: flash.now[:alert], type: 'error' %>
<% end %>

<%= form_with class: 'AdminForm', model: [:admin, @week, @content_item], html: { multipart: true } do |f| %>
  <%= render 'shared/organisms/O_AdminEditBlock' do %>
    <div class="O_AdminEditBlock-Field">
      <%= f.label :title, 'Заголовок', class: 'O_AdminEditBlock-Label text-labels-1' %>
      <%= render 'shared/atoms/A_Input', name: "#{f.object_name}[title]", value: @content_item.title %>
    </div>
    <div class="O_AdminEditBlock-Field">
      <%= f.label :url, 'URL', class: 'O_AdminEditBlock-Label text-labels-1' %>
      <%= render 'shared/atoms/A_Input', name: "#{f.object_name}[url]", value: @content_item.url %>
    </div>
    <div class="O_AdminEditBlock-Field">
      <%= f.label :file, 'Загрузить файл', class: 'O_AdminEditBlock-Label text-labels-1' %>
      <%= f.file_field :file, accept: 'image/*,video/*,audio/*', class: 'A_Input text-p-3' %>
      <% if @content_item&.file&.attached? %>
        <div>
          Текущий файл: <%= @content_item.file.filename.to_s %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/atoms/A_Button', type: 'submit', text: @content_item.new_record? ? 'Создать' : 'Сохранить' %>
<% end %>


