<%= form_with model: [:admin, @day] do |f| %>
  <div>
    <%= f.label :number, 'Номер (1..15)' %><br/>
    <%= f.number_field :number, in: 1..15, step: 1 %>
  </div>
  <div>
    <%= f.label :title, 'Заголовок' %><br/>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'Описание' %><br/>
    <%= f.text_area :description %>
  </div>
  <% if @day.persisted? %>
    <div>
      <strong>Публикуется с:</strong> <%= l @day.published_at %>
    </div>
    <div>
      <strong>Скрывается после:</strong> <%= l @day.expires_at %>
    </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>


