<% if flash.now[:alert] %>
  <%= render 'shared/molecules/M_ToastNotification', text: flash.now[:alert], type: 'error' %>
<% end %>

<%= form_with class: 'AdminForm', model: [:admin, @week] do |f| %>
  <%= render 'shared/organisms/O_AdminEditBlock' do %>
    <% if @week.persisted? %>
      <div class="O_AdminEditBlock-Field">
        <div class="O_AdminEditBlock-Label text-labels-1">Номер:</div>
        <div><%= @week.number %></div>
      </div>
    <% end %>
    <div class="O_AdminEditBlock-Field">
      <%= f.label :title, 'Заголовок', class: 'O_AdminEditBlock-Label text-labels-1' %>
      <%= render 'shared/atoms/A_Input', name: "#{f.object_name}[title]", value: @week.title %>
    </div>
    <% if @week.persisted? %>
      <div class="O_AdminEditBlock-Field">
        <div class="O_AdminEditBlock-Label text-labels-1">Публикуется с:</div>
        <div><%= l @week.published_at if @week.published_at %></div>
      </div>
      <div class="O_AdminEditBlock-Field">
        <div class="O_AdminEditBlock-Label text-labels-1">Скрывается после:</div>
        <div><%= l @week.expires_at if @week.expires_at %></div>
      </div>
    <% end %>
  <% end %>
  <%= render 'shared/atoms/A_Button', type: 'submit', text: (@week.new_record? ? 'Создать' : 'Сохранить') %>
<% end %>

