<%= form_with model: [:admin, @week] do |f| %>
  <div>
    <%= f.label :number, 'Номер (1..24)' %><br/>
    <%= f.number_field :number, in: 1..24, step: 1 %>
  </div>
  <div>
    <%= f.label :title, 'Заголовок' %><br/>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'Описание' %><br/>
    <%= f.text_area :description %>
  </div>
  <% if @week.persisted? %>
    <div>
      <strong>Публикуется с:</strong> <%= l @week.published_at %>
    </div>
    <div>
      <strong>Скрывается после:</strong> <%= l @week.expires_at %>
    </div>
  <% end %>
  <div>
    <%= f.submit %>
  </div>
<% end %>

