<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag '/favicons/favicon.ico' %>
    <%= favicon_link_tag '/favicons/favicon.svg', rel: 'icon', type: 'image/svg+xml' %>
    <%= favicon_link_tag '/favicons/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
    <%= tag.link rel: 'apple-touch-icon', href: '/favicons/apple-touch-icon.png', sizes: '180x180' %>
    <%= tag.link rel: 'manifest', href: '/favicons/site.webmanifest' %>
  </head>
  <body>
    <nav>
      <%= link_to t('admin.navigation.dashboard'), admin_dashboard_path %> |
      <%= link_to t('admin.navigation.users'), admin_users_path %> |
      <%= link_to t('admin.navigation.weeks'), admin_weeks_path %> |
      <% if defined?(@week) && @week&.persisted? %>
        <%= link_to t('admin.navigation.articles'), admin_week_articles_path(@week) %> |
        <%= link_to t('admin.navigation.content'), admin_week_content_items_path(@week) %>
      <% end %>
      <span style="float:right"><%= link_to t('admin.navigation.to_site'), root_path %></span>
    </nav>
    <hr/>
    <%= yield %>
  </body>
  </html>


