<!DOCTYPE html>
<html>
<head>
  <title><%= t('layouts.application.title') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" defer></script>
  <%= javascript_include_tag "application", defer: true %>
  <%= favicon_link_tag '/favicons/favicon.ico' %>
  <%= favicon_link_tag '/favicons/favicon.svg', rel: 'icon', type: 'image/svg+xml' %>
  <%= favicon_link_tag '/favicons/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96' %>
  <%= tag.link rel: 'apple-touch-icon', href: '/favicons/apple-touch-icon.png', sizes: '180x180' %>
  <%= tag.link rel: 'manifest', href: '/favicons/site.webmanifest' %>
</head>

<body>
  <div class="PageWrapper">
    <%= render 'shared/quarks/Q_InspectraBackground' %>
    <div class="PageLayout">
      <%= render 'shared/wrappers/W_Sidebar' %>
      <%= yield %>
    </div>
    <%= render 'shared/atoms/A_IconButton', position: 'fixed', right: 'var(--spacing-x5)', bottom: 'var(--spacing-x5)', icon_name: 'Q_ConsoleIcon', z_index: 100, console_toggle: true %>
    <%= render 'shared/organisms/O_Console' %>
    <% if flash[:notice] %>
      <%= render 'shared/molecules/M_ToastNotification', text: flash[:notice] %>
    <% end %>
    <% if flash[:alert] %>
      <%= render 'shared/molecules/M_ToastNotification', text: flash[:alert], type: 'error' %>
    <% end %>
  </div>
  <div id="js-global-audio-player-container" class="GlobalAudioPlayer" aria-hidden="true" style="display: none;" data-turbo-permanent>
    <%= render 'shared/organisms/O_GlobalAudioPlayer' %>
  </div>
  <div id="js-global-video-player-container" class="GlobalVideoPlayer" aria-hidden="true" style="display: none;" data-turbo-permanent>
    <%= render 'shared/organisms/O_VideoPlayer', id: 'js-global-video-player', state_key: 'o_video_player_global_state', panel_class: 'W_ControlPanel--global' %>
  </div>
</body>
</html>
